---

const {title, subtitle, button} = Astro.props

---

<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-7xl md:px-24 lg:px-8 lg:py-20 bg-blue-800 rounded-2xl">
    <div class="max-w-screen-sm text-center sm:mx-auto">
        <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-blue-50 mx-auto">
            <svg class="w-12 h-12 text-blue-800" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bell-ringing-2">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.364 4.636a2 2 0 0 1 0 2.828a7 7 0 0 1 -1.414 7.072l-2.122 2.12a4 4 0 0 0 -.707 3.536l-11.313 -11.312a4 4 0 0 0 3.535 -.707l2.121 -2.123a7 7 0 0 1 7.072 -1.414a2 2 0 0 1 2.828 0" />
                <path d="M7.343 12.414l-.707 .707a3 3 0 0 0 4.243 4.243l.707 -.707" />
            </svg>
        </div>
        <h2 class="mb-4 font-sans text-3xl font-bold tracking-tight text-gray-50 sm:text-4xl sm:leading-none">
            { title }
        </h2>
        <p class="mb-6 text-base text-gray-300 md:text-lg sm:px-4">
            { subtitle }
        </p>
        <a href="/">
            <button
            type="submit"
            class="inline-flex items-center justify-center w-full h-12 px-10 font-medium tracking-wide text-blue-800 hover:text-gray-50 transition duration-200 rounded shadow-md md:w-auto bg-gray-50 hover:bg-blue-950 focus:shadow-outline focus:outline-none cursor-pointer"
            >
            { button }
            </button>
        </a>
    </div>
</div>