---

const { description, tagTitleOne, service, about, blog, tagTitleTwo, tagTitleThree, terms, privacy, copy } = Astro.props

---

<div class="relative mt-16 lg:mt-32 bg-blue-950">
    <svg class="absolute top-0 w-full h-6 -mt-5 sm:-mt-10 sm:h-16 text-blue-950" preserveAspectRatio="none" viewBox="0 0 1440 54">
        <path fill="currentColor" d="M0 22L120 16.7C240 11 480 1.00001 720 0.700012C960 1.00001 1200 11 1320 16.7L1440 22V54H1320C1200 54 960 54 720 54C480 54 240 54 120 54H0V22Z"></path>
    </svg>
    <div class="px-4 pt-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-7xl md:px-24 lg:px-8">
        <div class="grid gap-20 row-gap-10 mb-8 lg:grid-cols-5">
            <div class="md:max-w-md lg:col-span-2">
                <a href="/" aria-label="Go home" title="Company" class="inline-flex items-center">
                    <svg class="w-8 text-gray-50" viewBox="0 0 24 24" stroke-linejoin="round" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" stroke="currentColor" fill="none">
                        <rect x="3" y="1" width="7" height="12"></rect>
                        <rect x="3" y="17" width="7" height="6"></rect>
                        <rect x="14" y="1" width="7" height="6"></rect>
                        <rect x="14" y="11" width="7" height="12"></rect>
                    </svg>
                    <span class="ml-2 text-xl font-bold tracking-wide text-gray-100 uppercase">
                        AD DEV
                    </span>
                </a>
                <div class="mt-4 lg:max-w-sm">
                    <p class="text-sm text-gray-50">
                        { description }
                    </p>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-5 row-gap-8 lg:col-span-3 md:grid-cols-3">
                <div>
                    <p class="font-semibold tracking-wide text-gray-50">
                        { tagTitleOne }
                    </p>
                    <ul class="mt-2 space-y-2">
                        <li>
                            <a href="/" class="transition-colors duration-300 text-gray-300 hover:text-gray-400">
                                { service }
                            </a>
                        </li>
                        <li>
                            <a href="/" class="transition-colors duration-300 text-gray-300 hover:text-gray-400">
                                { about }
                            </a>
                        </li>
                        <li>
                            <a href="/" class="transition-colors duration-300 text-gray-300 hover:text-gray-400">
                                { blog }
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <p class="font-semibold tracking-wide text-gray-50">
                        { tagTitleTwo }
                    </p>
                    <ul class="mt-2 space-y-2">
                        <li>
                            <a href="/" class="transition-colors duration-300 text-gray-300 hover:text-gray-400">
                                Facebook
                            </a>
                        </li>
                        <li>
                            <a href="/" class="transition-colors duration-300 text-gray-300 hover:text-gray-400">
                                LinkedIn
                            </a>
                        </li>
                        <li>
                            <a href="/" class="transition-colors duration-300 text-gray-300 hover:text-gray-400">
                                Twitter
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <p class="font-semibold tracking-wide text-gray-50">
                        { tagTitleThree }
                    </p>
                    <ul class="mt-2 space-y-2">
                        <li>
                            <a href="/" class="transition-colors duration-300 text-gray-300 hover:text-gray-400">
                                { terms }
                            </a>
                        </li>
                        <li>
                            <a href="/" class="transition-colors duration-300 text-purple-50 hover:text-gray-400">
                                { privacy }
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-between pt-5 pb-10 border-t border-gray-200 sm:flex-row">
            <p class="text-sm text-gray-50">
                © Copyright 2026 AD DEV N.V. { copy }
            </p>
        </div>
    </div>
</div>