---

const { title, subtitle, button, declaimer } = Astro.props;

---

<main class="relative bg-blue-950">
    <div class="absolute inset-x-0 bottom-0">
        <svg viewBox="0 0 224 12" fill="currentColor" class="w-full -mb-1 text-white" preserveAspectRatio="none">
            <path d="M0,0 C48.8902582,6.27314026 86.2235915,9.40971039 112,9.40971039 C137.776408,9.40971039 175.109742,6.27314026 224,0 L224,12.0441132 L0,12.0441132 L0,0 Z"></path>
        </svg>
    </div>
    <div class="px-4 py-36 mx-auto sm:max-w-xl md:max-w-full lg:max-w-7xl md:px-24 lg:px-24 lg:pt-32 lg:pb-10">
        <div class="relative max-w-2xl sm:mx-auto sm:max-w-xl md:max-w-2xl sm:text-center animate-fade-in-down">
            <h2 class="mb-6 font-sans text-3xl font-bold tracking-tight text-gray-100 sm:text-4xl sm:leading-none">
                { title }
            </h2>
            <p class="mb-6 text-base font-thin tracking-wide text-gray-300 md:text-lg">
                { subtitle }
            </p>
            <a href="mailto:addiellucena94@gmail.com" class="flex justify-center items-center w-full mb-4 md:flex-row md:px-16">
                <button
                    type="submit"
                    class="inline-flex items-center justify-center w-full h-12 px-10 font-medium tracking-wide text-white transition duration-200 rounded shadow-md md:w-auto bg-blue-700 hover:bg-blue-900 focus:shadow-outline focus:outline-none cursor-pointer"
                >
                    { button }
                </button>
            </a>
            <p class="max-w-md mb-10 text-xs font-thin tracking-wide text-gray-400 sm:text-sm sm:mx-auto md:mb-16">
                { declaimer }
            </p>
            <a
                href="#services"
                aria-label="Scroll down"
                class="flex items-center justify-center w-10 h-10 mx-auto text-white duration-300 transform border border-gray-400 rounded-full hover:text-teal-accent-400 hover:border-teal-accent-400 hover:shadow hover:scale-110 animate-bounce"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="currentColor">
                    <path d="M10.293,3.293,6,7.586,1.707,3.293A1,1,0,0,0,.293,4.707l5,5a1,1,0,0,0,1.414,0l5-5a1,1,0,1,0-1.414-1.414Z"></path>
                </svg>
            </a>
        </div>
    </div>
</main>