---

const { title, subtitle, serOneTitle, serOneDescription, serTwoTitle, serTwoDescription, serThreeTitle, serThreeDescription, button } = Astro.props;

---

<div id="services" class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-7xl md:px-24 lg:px-8 lg:py-32">
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12 animate-fade-in-up">
        <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
            <span class="relative inline-block">
                <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-700 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
                    <defs>
                        <pattern id="df31b9f6-a505-42f8-af91-d2b7c3218e5c" x="0" y="0" width=".135" height=".30">
                        <circle cx="1" cy="1" r=".7"></circle>
                        </pattern>
                    </defs>
                    <rect fill="url(#df31b9f6-a505-42f8-af91-d2b7c3218e5c)" width="52" height="24"></rect>
                </svg>
                <span class="relative">
                    { title }
                </span>
            </span>
        </h2>
        <p class="text-base text-gray-700 md:text-lg">
            { subtitle }
        </p>
    </div>
    <div class="grid gap-8 row-gap-8 lg:grid-cols-3">
        <div class="sm:text-center">
            <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-blue-50 sm:mx-auto sm:w-24 sm:h-24">
                <svg class="w-12 h-12 text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-file-type-html">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                    <path d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4" />
                    <path d="M2 21v-6" />
                    <path d="M5 15v6" />
                    <path d="M2 18h3" />
                    <path d="M20 15v6h2" />
                    <path d="M13 21v-6l2 3l2 -3v6" />
                    <path d="M7.5 15h3" />
                    <path d="M9 15v6" />
                </svg>
            </div>
            <h6 class="mb-2 font-semibold leading-5">
                { serOneTitle }
            </h6>
            <p class="max-w-md mb-3 text-sm text-gray-900 sm:mx-auto">
                { serOneDescription }
            </p>
            <a href="/" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-blue-800 hover:text-blue-900">
                { button }
            </a>
        </div>
        <div class="sm:text-center">
            <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-blue-50 sm:mx-auto sm:w-24 sm:h-24">
                <svg class="w-12 h-12 text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-device-desktop-code">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12.5 16h-8.5a1 1 0 0 1 -1 -1v-10a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v8" />
                    <path d="M7 20h4" />
                    <path d="M9 16v4" />
                    <path d="M20 21l2 -2l-2 -2" />
                    <path d="M17 17l-2 2l2 2" />
                </svg>
            </div>
            <h6 class="mb-2 font-semibold leading-5">
                { serTwoTitle }
            </h6>
            <p class="max-w-md mb-3 text-sm text-gray-900 sm:mx-auto">
                { serTwoDescription }
            </p>
            <a href="/" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-blue-800 hover:text-blue-900">
                { button }
            </a>
        </div>
        <div class="sm:text-center">
            <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-blue-50 sm:mx-auto sm:w-24 sm:h-24">
                <svg class="w-12 h-12 text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-device-mobile">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14" />
                    <path d="M11 4h2" />
                    <path d="M12 17v.01" />
                </svg>
            </div>
            <h6 class="mb-2 font-semibold leading-5">
                { serThreeTitle }
            </h6>
            <p class="max-w-md mb-3 text-sm text-gray-900 sm:mx-auto">
                { serThreeDescription }
            </p>
            <a href="/" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-blue-800 hover:text-blue-900">
                { button }
            </a>
        </div>
    </div>
</div>