---

import "../styles/global.css";
const { title, lang, cont } = Astro.props;

---

<!DOCTYPE html>
<html lang={ lang }>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow" />
	<meta name="generator" content={Astro.generator} />
    <meta name="description" content={ cont } />
    <meta property="og:title" content={ title } />
    <meta property="og:description" content={ cont } />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content={ lang } />
    <link rel="canonical" href="https://addevnv.com/" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate" hreflang="en" href="https://addevnv.com/" />
    <link rel="alternate" hreflang="nl-NL" href="https://addevnv.com/nl-nl/" />
    <link rel="alternate" hreflang="es" href="https://addevnv.com/es/" />
    <link rel="alternate" hreflang="pt-BR" href="https://addevnv.com/pt-br/" />
    <link rel="alternate" hreflang="x-default" href="https://addevnv.com/" />
    <title>{ title } | AD DEV</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
</head>
<body>
    <slot />
</body>
</html>